{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {%if title%}
  <title>{{title}}</title>
  {%else%}
  <title>Welcome to the best Pitching site </title>
  {% endif %}
  {% block styles%}
 {{ super() }}
 <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
 {% endblock %}
</head>

<body>
  {%block content%}
  <h1 style='color:black'>{{word}} Pitch</h1>
  <h3>Welcome to the best pitching site</h3>
  <div class="container_fluid">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAt5mfcGCVrfpi9j9wUp3nKr_uJyNXWgEpIm2mH6n602UeLACI">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7icZmBR6OH1Fsu9lspBy2cMp4zNzH1_G9kosAzSwLClQUay8q">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThtuHFm-ietJETudG0eXuoSdAKLZpZYiHoNNeOWwuDL0zLC1yn" height=60%>
    <img src="https://quotefancy.com/media/wallpaper/3840x2160/964085-Chris-Isaak-Quote-I-think-as-far-as-self-promotion-goes-I-probably.jpg" height=50% width=20%>

  </div>

  {%endblock%}
</body>

</html>
