<div class="navbar navbar-inverse" role='navigation'>
  <div class="container-fluid">
    <h1 align="center">Pitch</h1>
    <button type="button" name="button" class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' style=color:white>Categories</button>
    <div class="navbar-collapse collapse">
      <ul class='nav navbar-nav'>
        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
        <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
        {%endif%}
        <li><a href="{{url_for('auth.register')}}">Sign up</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/">Pickup lines</a></li>
        <li><a href="/">Interview Pitch</a></li>
        <li><a href="/">Product pitch</a></li>
        <li><a href="/">Promotion pitch</a></li>
      </ul>

    </div>

  </div>
</div>
