<div class="navbar navbar-inverse" role='navigation'>
<div class="container-fluid">
  <h1 align="center">Pitch</h1>
  <button type="button" name="button" class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' style=color:white>Categories</button>
  <div class="navbar-collapse collapse">
    <ul class='nav navbar-nav'>
      <li><a href="{{url_for('.login')}}">Login</a></li>
      <li><a href="{{url_for('.register')}}">Register</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Pickup lines</a></li>
      <li><a href="#">Interview Pitch</a></li>
      <li><a href="#">Product pitch</a></li>
      <li><a href="#">Promotion pitch</a></li>
    </ul>

  </div>

</div>
</div>
