{%extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {%block content %}
    <div class="register" align="center">
      <form class="jumbotron" method="post">
        <label>Username</label>
        <br>
        <input type="text" name="Username">
        <br>
        <label>Email</label>
        <br>
        <input type="emailfield" name="Email">
        <br>
        <label>Password</label>
        <br>
        <input type="password" name="Password">
        <br>
        <label>Confirm Password</label>
        <br>
        <input type="password" name="Confirm password">
        <br>
        <label>Sign Up</label>
        <br>
        <input type="submit" name="submit">

      </form>
    </div>

    {%endblock%}

  </body>
</html>
